#main-content {
  width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1440px;
  min-width: 320px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.grid-50 {
  width: 50%;
}

.bPrdXk {
  font-size: 22px;
  margin: 6px 0px 0px;
  padding: 6px 0px 7px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.iaqEFt {
  margin-top: 18px;
}

.kvoFUS {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.uVxjb {
  margin: 6px;
  display: block;
}
.esvEre {
  position: relative;
  margin: 3px 0px;
}
.bjdA-Df {
  position: relative;
}
.ktBZGa {
  font-family: Motiva-Light, Motiva, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  position: absolute;
  top: -12px;
  z-index: 99;
  padding: 2px 4px;
  left: 5px;
  text-transform: inherit;
  margin: 0px;
  background: transparent;
  color: #666;
  min-height: 17px;
}
.ktBZGa span {
  color: rgb(204, 0, 0);
  width: 9px;
  height: 8px;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  background: none;
  right: -5px;
  top: 2px;
}
.ktBZGa::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  background: rgb(255, 255, 255);
  z-index: -1;
}
.ifVZtF {
  width: 100%;
  height: 40px;
  padding: 0px 8px;
  border: 1px solid rgb(150, 150, 150);
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  text-transform: initial;
  box-sizing: border-box;
}
.kpeTUH {
  flex: 1 1 0%;
}
.dNkcIE {
  display: flex;
  height: 100%;
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: inherit;
  text-transform: initial;
  max-width: 100%;
  font-size: 16px;
  line-height: 1em;
  color: #4d4d4f;
  transition: border-color 0.5s;
  box-shadow: none;
  border-radius: 3px;
}
.kvoFUS {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}
.uVxjb {
  margin: 6px;
  display: block;
}
.esvEre {
  position: relative;
  margin: 3px 0px;
}
.bEtTzz {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  height: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
  border-radius: 22px;
  padding: 10px 28px;
  background-color: rgb(204, 0, 0);
  border: none;
  text-align: center;
  display: flex;
  width: 256px;
  margin: 10px auto !important;
}

.jOFmZb button {
  width: 100%;
  backface-visibility: visible;
  position: relative;
  z-index: 1;
  font-weight: 700;
  transition: all 0.2s ease-out 0s;
  overflow: hidden;
  text-transform: none;
  border-radius: 4px !important;
}
.hgBkLA {
  margin: 12px 6px;
  font-size: 12px;
}
.bNsdpN {
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0px;
  margin: 0px 6px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(8, 109, 210);
  text-decoration: underline;
}

.bNsdpN a,
.bNsdpN a:link,
.bNsdpN a:visited,
.bNsdpN a:active {
  color: rgb(8, 109, 210);
  text-decoration: none;
}
.iQombN {
  padding-bottom: 10px;
}
.jnwruv {
  text-align: center;
  color: rgb(77, 77, 79);
  font-family: Motiva-Bold, Motiva, Helvetica, Arial, sans-serif;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
.bgSERk {
  cursor: pointer;
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 24px;
  margin: 6px auto;
  display: table;
  text-decoration: underline;
}
.jOFmZb a,
.jOFmZb [role="link"] {
  font-weight: bold;
  text-decoration: underline;
}
.iFpsqc {
  display: flex;
  flex-direction: row;
}
.iFpsqc .sc-1gktvoi-0.bEtTzz {
  width: 100%;
  backface-visibility: visible;
  position: relative;
  z-index: 1;
  font-weight: 700;
  transition: all 0.2s ease-out 0s;
  overflow: hidden;
  text-transform: none;
  border-radius: 4px !important;
}
.jtvEdo {
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 16px;
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.cTvXlG {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 0px 0px 10px;
  overflow-wrap: break-word;
  width: 100%;
  color: rgb(0, 0, 0);
  position: relative;
}
.sc-jxOSlx.jxBUDZ {
  margin-top: 5px;
}

.account-container {
  padding: 101px 0 0;
}
@media screen and (max-width: 768px) {
  .account-container {
    padding-top: 38px;
  }
}
@media screen and (max-width: 767px) {
  .account-container {
    padding-top: 180px;
  }
}
@media screen and (min-width: 860px) {
  .account-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.account-container .login-header {
  color: #ffffff;
  position: relative;
  -webkit-align-content: bottom;
  -moz-align-content: bottom;
  -ms-flex-line-pack: bottom;
  align-content: bottom;
}
@media screen and (max-width: 860px) {
  .account-container .login-header {
    display: none;
  }
}
.account-container .login-header .container {
  position: absolute;
  top: 361px;
  left: 50px;
}
.account-container .login-header .container p {
  font-size: 15px;
}
.account-container .login-header .container h1 {
  text-transform: uppercase;
  font-family: "NormsProBold", "Norms Pro", arial, sans-serif;
  font-size: 34px;
  line-height: 32px;
  letter-spacing: -1px;
  margin-top: 10px;
  max-width: 575px;
}
@media screen and (max-width: 1025px) {
  .account-container .login-header .container h1 {
    max-width: 370px;
  }
}
@media screen and (max-width: 1025px) {
  .account-container .login-header .container h1 {
    margin-bottom: 5px;
  }
}
.account-container .sign-in-up {
  padding-left: 8px;
}
@media screen and (max-width: 860px) {
  .account-container .sign-in-up {
    padding-left: 0;
    margin: auto;
    width: 90%;
  }
}

.sign-in-box {
  min-height: 460px;
}
@media screen and (max-width: 580px) {
  .sign-in-box {
    min-height: 420px;
  }
}

.sign-up-box,
.sign-in-box {
  background: #ffffff;
  max-width: 456px;
  padding: 25px 35px;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
@media screen and (max-width: 1025px) {
  .sign-up-box,
  .sign-in-box {
    max-width: 484px;
  }
}
@media screen and (max-width: 860px) {
  .sign-up-box,
  .sign-in-box {
    max-width: 474px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box,
  .sign-in-box {
    max-width: 95%;
  }
}
@media screen and (max-width: 1025px) {
  .sign-up-box,
  .sign-in-box {
    padding: 25px;
  }
}
@media screen and (max-width: 860px) {
  .sign-up-box,
  .sign-in-box {
    padding: 20px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box,
  .sign-in-box {
    padding: 15px;
  }
}
@media screen and (max-width: 860px) {
  .sign-up-box,
  .sign-in-box {
    margin: 0 auto;
  }
}
@media screen and (min-width: 860px) and (max-width: 1023px) {
  .sign-up-box,
  .sign-in-box {
    margin-right: 10px;
  }
}
.sign-up-box .sign-in-toggle,
.sign-in-box .sign-in-toggle {
  margin-bottom: 20px;
}
.sign-up-box .sign-up-toggle,
.sign-in-box .sign-up-toggle {
  margin-bottom: 42px;
}
.sign-up-box .sign-up-toggle,
.sign-up-box .sign-in-toggle,
.sign-in-box .sign-up-toggle,
.sign-in-box .sign-in-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #a1a1a1;
}
@media screen and (max-width: 768px) {
  .sign-up-box .sign-up-toggle,
  .sign-up-box .sign-in-toggle,
  .sign-in-box .sign-up-toggle,
  .sign-in-box .sign-in-toggle {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box .sign-up-toggle,
  .sign-up-box .sign-in-toggle,
  .sign-in-box .sign-up-toggle,
  .sign-in-box .sign-in-toggle {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box .sign-up-toggle,
  .sign-up-box .sign-in-toggle,
  .sign-in-box .sign-up-toggle,
  .sign-in-box .sign-in-toggle {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.sign-up-box .sign-up-toggle a,
.sign-up-box .sign-in-toggle a,
.sign-in-box .sign-up-toggle a,
.sign-in-box .sign-in-toggle a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  padding-top: 26px;
  padding-bottom: 18px;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  cursor: pointer;
  margin-bottom: -1px;
}
.sign-up-box .sign-up-toggle a:not(.active-tab),
.sign-up-box .sign-in-toggle a:not(.active-tab),
.sign-in-box .sign-up-toggle a:not(.active-tab),
.sign-in-box .sign-in-toggle a:not(.active-tab) {
  color: #909090;
}
.sign-up-box .sign-up-toggle a:not(.active-tab):hover,
.sign-up-box .sign-in-toggle a:not(.active-tab):hover,
.sign-in-box .sign-up-toggle a:not(.active-tab):hover,
.sign-in-box .sign-in-toggle a:not(.active-tab):hover {
  border-bottom: 3px solid #444444;
  color: #444444;
}
.sign-up-box .sign-up-toggle a.active-tab,
.sign-up-box .sign-in-toggle a.active-tab,
.sign-in-box .sign-up-toggle a.active-tab,
.sign-in-box .sign-in-toggle a.active-tab {
  color: #000000;
  height: 100%;
  border-bottom: 3px solid #cc0000;
}
.sign-up-box form#registerForm .sign-in-msg,
.sign-up-box form#sign-in-form .sign-in-msg,
.sign-in-box form#registerForm .sign-in-msg,
.sign-in-box form#sign-in-form .sign-in-msg {
  color: #909090;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 45px;
  margin-top: 21px;
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .sign-in-msg,
  .sign-up-box form#sign-in-form .sign-in-msg,
  .sign-in-box form#registerForm .sign-in-msg,
  .sign-in-box form#sign-in-form .sign-in-msg {
    margin-bottom: 24px;
  }
}
.sign-up-box form#registerForm .input-container,
.sign-up-box form#sign-in-form .input-container,
.sign-in-box form#registerForm .input-container,
.sign-in-box form#sign-in-form .input-container {
  position: relative;
  min-height: 52px;
}
.sign-up-box form#registerForm .input-container .sign-in-ctrl,
.sign-up-box form#sign-in-form .input-container .sign-in-ctrl,
.sign-in-box form#registerForm .input-container .sign-in-ctrl,
.sign-in-box form#sign-in-form .input-container .sign-in-ctrl {
  position: relative;
}
.sign-up-box form#registerForm .input-container label,
.sign-up-box form#sign-in-form .input-container label,
.sign-in-box form#registerForm .input-container label,
.sign-in-box form#sign-in-form .input-container label {
  position: absolute;
  top: 22px;
  left: 2px;
  font-size: 13px;
  line-height: 16px;
  color: #a1a1a1;
  cursor: text;
  -webkit-transition: all 0.06s ease;
  -moz-transition: all 0.06s ease;
  -ms-transition: all 0.06s ease;
  -o-transition: all 0.06s ease;
  transition: all 0.06s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.sign-up-box form#registerForm .input-container label.focus,
.sign-up-box form#sign-in-form .input-container label.focus,
.sign-in-box form#registerForm .input-container label.focus,
.sign-in-box form#sign-in-form .input-container label.focus {
  color: #cccccc;
}
.sign-up-box form#registerForm .input-container label.focus + span input,
.sign-up-box form#sign-in-form .input-container label.focus + span input,
.sign-in-box form#registerForm .input-container label.focus + span input,
.sign-in-box form#sign-in-form .input-container label.focus + span input {
  border-bottom: 3px solid #a1a1a1;
}
.sign-up-box form#registerForm .input-container label.filled,
.sign-up-box form#sign-in-form .input-container label.filled,
.sign-in-box form#registerForm .input-container label.filled,
.sign-in-box form#sign-in-form .input-container label.filled {
  top: 0;
  left: 0;
  font-size: 12px;
}
.sign-up-box form#registerForm .input-container label.filled + span input,
.sign-up-box form#sign-in-form .input-container label.filled + span input,
.sign-in-box form#registerForm .input-container label.filled + span input,
.sign-in-box form#sign-in-form .input-container label.filled + span input {
  border-bottom: 1px solid #a1a1a1;
}
.sign-up-box form#registerForm .input-container label.active,
.sign-up-box form#sign-in-form .input-container label.active,
.sign-in-box form#registerForm .input-container label.active,
.sign-in-box form#sign-in-form .input-container label.active {
  top: 0;
  left: 0;
  font-size: 12px;
}
.sign-up-box form#registerForm .input-container label.active + span input,
.sign-up-box form#sign-in-form .input-container label.active + span input,
.sign-in-box form#registerForm .input-container label.active + span input,
.sign-in-box form#sign-in-form .input-container label.active + span input {
  border-bottom: 3px solid #0070c9;
}
.sign-up-box form#registerForm .input-container label.invalid,
.sign-up-box form#sign-in-form .input-container label.invalid,
.sign-in-box form#registerForm .input-container label.invalid,
.sign-in-box form#sign-in-form .input-container label.invalid {
  color: #cc0000;
}
.sign-up-box form#registerForm .input-container label.invalid + span input,
.sign-up-box form#sign-in-form .input-container label.invalid + span input,
.sign-in-box form#registerForm .input-container label.invalid + span input,
.sign-in-box form#sign-in-form .input-container label.invalid + span input {
  border-bottom: 3px solid #cc0000;
}
.sign-up-box form#registerForm .input-container input,
.sign-up-box form#sign-in-form .input-container input,
.sign-in-box form#registerForm .input-container input,
.sign-in-box form#sign-in-form .input-container input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  caret-color: #cc0000;
  height: 40px;
  margin-top: 0;
  padding: 20px 0 0;
}
.sign-up-box form#registerForm .input-container input#Password,
.sign-up-box form#sign-in-form .input-container input#Password,
.sign-in-box form#registerForm .input-container input#Password,
.sign-in-box form#sign-in-form .input-container input#Password {
  padding-right: 42px;
}
.sign-up-box form#registerForm .sign-in-submit,
.sign-up-box form#sign-in-form .sign-in-submit,
.sign-in-box form#registerForm .sign-in-submit,
.sign-in-box form#sign-in-form .sign-in-submit {
  position: absolute;
  bottom: 20px;
  left: 38px;
  right: 38px;
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .sign-in-submit,
  .sign-up-box form#sign-in-form .sign-in-submit,
  .sign-in-box form#registerForm .sign-in-submit,
  .sign-in-box form#sign-in-form .sign-in-submit {
    bottom: 0;
  }
}
@media screen and (max-width: 1025px) {
  .sign-up-box form#registerForm .sign-in-submit,
  .sign-up-box form#sign-in-form .sign-in-submit,
  .sign-in-box form#registerForm .sign-in-submit,
  .sign-in-box form#sign-in-form .sign-in-submit {
    left: 53px;
    right: 53px;
  }
}
@media screen and (max-width: 860px) {
  .sign-up-box form#registerForm .sign-in-submit,
  .sign-up-box form#sign-in-form .sign-in-submit,
  .sign-in-box form#registerForm .sign-in-submit,
  .sign-in-box form#sign-in-form .sign-in-submit {
    left: 45px;
    right: 45px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .sign-in-submit,
  .sign-up-box form#sign-in-form .sign-in-submit,
  .sign-in-box form#registerForm .sign-in-submit,
  .sign-in-box form#sign-in-form .sign-in-submit {
    left: 15px;
    right: 15px;
  }
}
.sign-up-box form#registerForm .sign-in-submit button,
.sign-up-box form#sign-in-form .sign-in-submit button,
.sign-in-box form#registerForm .sign-in-submit button,
.sign-in-box form#sign-in-form .sign-in-submit button {
  width: 100%;
}
.sign-up-box form#registerForm ::-webkit-input-placeholder,
.sign-up-box form#sign-in-form ::-webkit-input-placeholder,
.sign-in-box form#registerForm ::-webkit-input-placeholder,
.sign-in-box form#sign-in-form ::-webkit-input-placeholder {
  color: transparent;
}
.sign-up-box form#registerForm :-moz-placeholder,
.sign-up-box form#sign-in-form :-moz-placeholder,
.sign-in-box form#registerForm :-moz-placeholder,
.sign-in-box form#sign-in-form :-moz-placeholder {
  color: transparent;
}
.sign-up-box form#registerForm ::-moz-placeholder,
.sign-up-box form#sign-in-form ::-moz-placeholder,
.sign-in-box form#registerForm ::-moz-placeholder,
.sign-in-box form#sign-in-form ::-moz-placeholder {
  color: transparent;
}
.sign-up-box form#registerForm :-ms-input-placeholder,
.sign-up-box form#sign-in-form :-ms-input-placeholder,
.sign-in-box form#registerForm :-ms-input-placeholder,
.sign-in-box form#sign-in-form :-ms-input-placeholder {
  color: transparent;
}
.sign-up-box form#registerForm input::-ms-clear,
.sign-up-box form#registerForm input::-ms-reveal,
.sign-up-box form#sign-in-form input::-ms-clear,
.sign-up-box form#sign-in-form input::-ms-reveal,
.sign-in-box form#registerForm input::-ms-clear,
.sign-in-box form#registerForm input::-ms-reveal,
.sign-in-box form#sign-in-form input::-ms-clear,
.sign-in-box form#sign-in-form input::-ms-reveal {
  display: none;
}
.sign-up-box form#registerForm .email-subscribe,
.sign-up-box form#sign-in-form .email-subscribe,
.sign-in-box form#registerForm .email-subscribe,
.sign-in-box form#sign-in-form .email-subscribe {
  margin-top: 43px;
}
@media screen and (max-width: 768px) {
  .sign-up-box form#registerForm .email-subscribe,
  .sign-up-box form#sign-in-form .email-subscribe,
  .sign-in-box form#registerForm .email-subscribe,
  .sign-in-box form#sign-in-form .email-subscribe {
    margin-top: 77px;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .email-subscribe,
  .sign-up-box form#sign-in-form .email-subscribe,
  .sign-in-box form#registerForm .email-subscribe,
  .sign-in-box form#sign-in-form .email-subscribe {
    margin-top: 51px;
  }
}
@media screen and (max-width: 1024px) {
  .sign-up-box form#registerForm .email-subscribe,
  .sign-up-box form#sign-in-form .email-subscribe,
  .sign-in-box form#registerForm .email-subscribe,
  .sign-in-box form#sign-in-form .email-subscribe {
    margin-bottom: 10px;
  }
}
.sign-up-box form#registerForm .accept-terms,
.sign-up-box form#sign-in-form .accept-terms,
.sign-in-box form#registerForm .accept-terms,
.sign-in-box form#sign-in-form .accept-terms {
  margin-bottom: 45px;
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .accept-terms,
  .sign-up-box form#sign-in-form .accept-terms,
  .sign-in-box form#registerForm .accept-terms,
  .sign-in-box form#sign-in-form .accept-terms {
    margin-top: 10px;
  }
}
.sign-up-box form#registerForm .remember-me,
.sign-up-box form#sign-in-form .remember-me,
.sign-in-box form#registerForm .remember-me,
.sign-in-box form#sign-in-form .remember-me {
  padding-bottom: 62px;
}
.sign-up-box form#registerForm .checkbox span,
.sign-up-box form#sign-in-form .checkbox span,
.sign-in-box form#registerForm .checkbox span,
.sign-in-box form#sign-in-form .checkbox span {
  margin: 10px 7px 10px 0;
  outline: none;
}
.sign-up-box form#registerForm .checkbox .checkbox-copy,
.sign-up-box form#sign-in-form .checkbox .checkbox-copy,
.sign-in-box form#registerForm .checkbox .checkbox-copy,
.sign-in-box form#sign-in-form .checkbox .checkbox-copy {
  width: 80%;
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 5px 0 0;
  margin: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  color: #444444;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .checkbox .checkbox-copy,
  .sign-up-box form#sign-in-form .checkbox .checkbox-copy,
  .sign-in-box form#registerForm .checkbox .checkbox-copy,
  .sign-in-box form#sign-in-form .checkbox .checkbox-copy {
    width: 83%;
  }
}
@media screen and (max-width: 580px) {
  .sign-up-box form#registerForm .checkbox .checkbox-copy,
  .sign-up-box form#sign-in-form .checkbox .checkbox-copy,
  .sign-in-box form#registerForm .checkbox .checkbox-copy,
  .sign-in-box form#sign-in-form .checkbox .checkbox-copy {
    font-size: 13px;
    line-height: 17px;
  }
}
.sign-up-box form#registerForm .checkbox .checkbox-copy.contains-link,
.sign-up-box form#sign-in-form .checkbox .checkbox-copy.contains-link,
.sign-in-box form#registerForm .checkbox .checkbox-copy.contains-link,
.sign-in-box form#sign-in-form .checkbox .checkbox-copy.contains-link {
  padding-top: 0;
}
.sign-up-box form#registerForm .checkbox .checkbox-copy a,
.sign-up-box form#sign-in-form .checkbox .checkbox-copy a,
.sign-in-box form#registerForm .checkbox .checkbox-copy a,
.sign-in-box form#sign-in-form .checkbox .checkbox-copy a {
  margin-left: 3px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.sign-up-box form#registerForm .forgot-user,
.sign-up-box form#sign-in-form .forgot-user,
.sign-in-box form#registerForm .forgot-user,
.sign-in-box form#sign-in-form .forgot-user {
  text-align: right;
  margin-bottom: 30px;
  font-size: 12px;
}
span.field-validation-error {
  display: none;
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
  animation-name: onAutoFillStart;
}

input:not(:-webkit-autofill) {
  -webkit-animation-name: onAutoFillStart;
  animation-name: onAutoFillCancel;
}

#showPassword {
  display: block;
  position: absolute;
  right: 8px;
  bottom: 1px;
  width: 25px;
  height: 25px;
  background-image: url(/dynamic/Content/images/RetailerSpecific/SPLUS/Account/passwordToggle/icon-eyeclosed-hover);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
@media screen and (min-width: 1025px) {
  #showPassword:hover {
    opacity: 1;
  }
}
#showPassword.toggled {
  opacity: 0.5;
  background-image: url(/dynamic/Content/images/RetailerSpecific/SPLUS/Account/passwordToggle/icon-eyeopen-hover);
}
@media screen and (min-width: 1025px) {
  #showPassword.toggled:hover {
    opacity: 1;
  }
}
#showPassword:focus {
  outline: none;
}

#passwordHintWindow {
  display: none;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  left: -314px;
  top: 80px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 308px;
  height: 198px;
}
#passwordHintWindow > div {
  padding: 21px 30px 28px 20px;
}
#passwordHintWindow > div p,
#passwordHintWindow > div li {
  font-size: 12px;
  line-height: 15px;
}
#passwordHintWindow > div ul {
  margin: 15px 0;
}
#passwordHintWindow > div ul li {
  margin-left: 14px;
  position: relative;
}
#passwordHintWindow:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  border-radius: 0 20px 20px 0;
  background: #ffffff;
  position: absolute;
  right: -8px;
  top: 93px;
}
@media screen and (max-width: 860px) {
  #passwordHintWindow:after {
    display: none;
  }
}

.pw-valid {
  color: #40c922;
  font-weight: bold;
}
.pw-valid:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -13px;
  top: 2px;
  background: url(/dynamic/Content/images/RetailerSpecific/SPLUS/Account/passwordHint/green-checkmark)
    center center no-repeat;
  background-size: contain;
}

.pw-invalid {
  color: #cc0000;
  font-weight: bold;
}
.pw-invalid:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -13px;
  top: 2px;
  background: url(/dynamic/Content/images/RetailerSpecific/SPLUS/Account/passwordHint/red-x)
    center center no-repeat;
  background-size: contain;
}

.sign-up-box form#registerForm .input-container label.valid {
  color: #40c922;
}
.sign-up-box form#registerForm .input-container label.valid + span input {
  border-bottom: 3px solid #40c922;
}

.sign-in-box .login-iframe,
.sign-up-box .login-iframe {
  width: 100%;
  height: 430px;
}

.grhtJC {
  display: flex;
}
.ipBJEQ {
  border: 0px;
  background: transparent;
  cursor: pointer;
  padding: 1px 3px 1px 6px;
}

.sc-ei0bxb-9.kpeTUH {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.sc-ei0bxb-9.kpeTUH:focus-visible {
  outline: none;
}

.sign-in-form {
  width: 100%;
  height: 430px;
}
.hpMIfZ {
  margin-bottom: 24px;
}

.sc-eDPEul.iQombN {
  padding-bottom: 100px;
}
.password-criteria__sparq_PasswordCriteriaLayout.password-criteria__sparq_PasswordCriteriaLayoutPNI {
  margin-top: 12px;
}