.cart-empty {
  margin-top: 200px;
}

@media (max-width: 820px) {
  .cart-empty {
    margin-top: 250px;
  }
}

.cart-empty .section-01-container {
  max-width: 1440px;
  width: 100%;
  margin: 12px auto;
  padding: 0 12px;
}

.cart-empty .section-01-container h2 {
  font-family: Motiva, Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 48px;
}

.cart-empty .section-01-content {
  margin-bottom: 38px;
  font-family: Motiva, Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  max-width: 434px;
  margin: auto auto 28px;
}

.cart-empty .section-01-content p {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  color: #c00;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 4px;
}

.cart-empty .section-01-content .btn {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.cart-empty .section-01-content .btn a {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  display: inline-flex;
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
  border-radius: 22px;
  background-color: rgb(204, 0, 0);
  border: none;
  padding: 10px 28px;
  margin: 0px;
  color: #fff;
  font-weight: bold;
}

.cart-empty .section-02-container {
  max-width: 1440px;
  width: 100%;
  margin: 12px auto;
  padding: 0 12px;
}

.cart-empty .section-02-container h3 {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.cart-empty .section-02 .wrapper {
  box-shadow: none;
}

/*tabの形状*/
.cart-empty .section-02 .tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
}
.cart-empty .section-02 .tab li a {
  display: block;
  margin: 0 2px;
  padding: 20px;
  color: #4d4d4f;
}
/*liにactiveクラスがついた時の形状*/
.cart-empty .section-02 .tab li.active a {
  border-bottom: 3px solid #0875e3;
  color: #000;
}

/*エリアの表示非表示と形状*/
.cart-empty .section-02 .area {
  display: none; /*はじめは非表示*/
  opacity: 0; /*透過0*/
  padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.cart-empty .section-02 .area.is-active {
  display: block; /*表示*/
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart-empty {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    position: absolute;
    top: calc(50% - 28px);
    z-index: 10;
    width: 44px;
    height: 44px;
    max-height: 52px;
    background: hsla(0, 0%, 100%);
    text-align: center;
    border-radius: 22px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 6px;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
    color: #000;
  }
}
