*, :after, :before {
    box-sizing: border-box;
}

.egVQSc {
    max-width: 1440px;
    width: 100%;
    background-color: transparent;
    margin: 12px auto;
    padding: 0px 12px;
}

.MyProfileHome__breadcrumbs_container {
    position: relative;
    margin-top: 30px;
    margin-left: 12px;
    display: inline-block;
}

.fIfUQv {
    display: flex;
    color: rgb(77, 77, 79);
}

.kqHulK {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.kqHulK li {
    display: inline-block;
    padding: 0px 2px;
    font-size: 12px;
    color: rgb(117, 117, 117);
}

.ccDEFz {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0px;
    margin: 0px 6px;
    font-size: 12px;
    line-height: 18px;
}

.kqHulK li a, .kqHulK li a:link, .kqHulK li a:visited, .kqHulK li a:active {
    text-decoration: underline;
}

.ccDEFz a, .ccDEFz a:link, .ccDEFz a:visited, .ccDEFz a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.MyProfileHome__heading_align {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}


.iekDCN {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(204, 0, 0);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

svg:not(:root) {
    overflow: hidden;
}

.hhfChs {
    display: inline-block;
    vertical-align: middle;
    fill: rgb(255, 255, 255);
    shape-rendering: inherit;
}

.MyProfileHome__heading_txt {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    padding: 5px 0 0 10px;
}

.eApBwU {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

@media (max-width: 1440px){  
  .uVxjb {
    display: block;
  }
}

.uVxjb {
    margin: 6px;
    display: block;
}

.izFDqD {
    border: 1px solid rgb(221, 221, 221);
    padding: 16px;
    border-radius: 8px;
    cursor: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0px;
}

.MyProfileHome__tile_title, .MyProfileHome__tile_title_disabled {
    font-family: Motiva-Bold,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;

  }

.MyProfileHome__tile_status, .MyProfileHome__tile_status_disabled {
    font-family: Motiva-Light,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.kuqdgP {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 75535;
    visibility: hidden;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1440px){
  .uVxjb {
    display: block;
  }
}
  
.uVxjb {
    margin: 6px;
    display: block;
}

.MyProfileHome__tile_container {
    height: 100%;
}

.cdeRxR {
    border: 1px solid rgb(221, 221, 221);
    padding: 16px;
    border-radius: 8px;
    cursor: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0px;
    height: 100%;
}

.MyProfileHome__heading_align {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}

.hTpLbs {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(77, 77, 79);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

svg:not(:root) {
  overflow: hidden;
}

.hhfChs {
  display: inline-block;
  vertical-align: middle;
  fill: rgb(255, 255, 255);
  shape-rendering: inherit;
}

.MyProfileHome__heading_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding: 5px 0 0 10px;
}

.eApBwU {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
}

.AzAFO {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
}

.MyProfileHome__heading_align {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
}

.hOZRNO {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 190, 67);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.deQvGl {
  display: inline-block;
  vertical-align: middle;
  shape-rendering: inherit;
}

.MyProfileHome__heading_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding: 5px 0 0 10px;
}

.MyProfileHome__mar_top_40 {
  margin-top: 40px;
  display: block;
}

.MyProfileHome__heading_txt {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  padding: 5px 0 0 10px;
}

.fXpBNI {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 12fr);
}

.MyProfileHome__mar_left_12 {
  margin-left: 12px;
  font-size: 16px;
}

.kpyTAW {
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0px;
  margin: 0px 6px;
  font-size: 14px;
  line-height: 20px;
}

.kpyTAW a, .kpyTAW a:link, .kpyTAW a:visited, .kpyTAW a:active {
  color: rgb(8, 109, 210);
  text-decoration: none;
}

.izFDqD:hover {
  box-shadow: rgba(155, 155, 155, 0.7) 0px 0px 6px;
}

.cdeRxR:hover {
  box-shadow: rgba(155, 155, 155, 0.7) 0px 0px 6px;
}

@media (max-width: 600px){
  .eApBwU {
    grid-template-columns: repeat(1, 12fr);
  }
}
@media (max-width: 820px){
  .eApBwU {
    grid-template-columns: repeat(1, 12fr);
  }
}
@media (max-width: 1024px){
  .eApBwU {
    grid-template-columns: repeat(1, 12fr);
  }
}

@media (max-width: 600px){
  .iXAeQV {
    grid-template-columns: repeat(1, 12fr);
  }
}
@media (max-width: 820px){
  .iXAeQV {
    grid-template-columns: repeat(1, 12fr);
  }
}
@media (max-width: 1024px){
  .iXAeQV {
    grid-template-columns: repeat(1, 12fr);
  }
}

@media (max-width: 600px){
  .AzAFO {
    grid-template-columns: repeat(1, 12fr);
  }
}
  
@media (max-width: 820px){
  .AzAFO {
    grid-template-columns: repeat(1, 12fr);
  }
}
@media (max-width: 1024px){
  .AzAFO {
    grid-template-columns: repeat(1, 12fr);
  }
}

/* modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 480px;
  background: #fff;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

.cxtqFs {
  padding: 12px 24px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 14px;
  overflow: hidden scroll;
  height: 100%;
  position: relative;
  color: #000;
}

.dQkGog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 12fr);
}

.esvEre {
  position: relative;
  margin: 3px 0px;
}

.bjdA-Df {
  position: relative;
}

.ktBZGa {
  font-family: Motiva-Light, Motiva, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  position: absolute;
  top: -12px;
  z-index: 99;
  padding: 2px 4px;
  left: 5px;
  text-transform: inherit;
  margin: 0px;
  background: transparent;
}

.ktBZGa span {
  color: rgb(204, 0, 0);
  width: 9px;
  height: 8px;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 14px;
  position: absolute;
  background: none;
  right: -5px;
  top: 2px;
}

.ktBZGa::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  background: rgb(255, 255, 255);
  z-index: -1;
}

.ifVZtF {
  width: 100%;
  height: 40px;
  padding: 0px;
  border: 1px solid rgb(150, 150, 150);
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  text-transform: initial;
}

.kpeTUH {
  flex: 1 1 0%;
}

.grhtJC {
  display: flex;
}

.dHtdEF {
  display: flex;
  margin: 2px;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.cfmVaK {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid rgb(243, 243, 243);
  padding: 8px 10px;
  margin: 3px 0px;
  font-size: 16px;
  line-height: 1em;
  color: rgb(77, 77, 79);
  background: rgb(255, 255, 255);
  transition: border-color 0.5s ease 0s;
  box-shadow: none;
  border-radius: 3px;
}

.kWfZzq {
  width: 100%;
  display: flex;
  margin: 2px;
  pointer-events: none;
}

.dVwNOB {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  height: 28px;
  width: 16px;
  z-index: 1;
  min-width: 16px;
}
.evHREg {
  display: inline-flex;
  position: relative;
  width: fit-content;
}

.evHREg > span {
  height: 16px;
  width: 16px;
  display: flex;
}

.jhLSHc {
  height: 16px;
  width: 16px;
  background: rgb(243, 243, 243);
  display: flex;
  border-radius: 4px;
}

.eZquud {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 0px 0px 10px;
  overflow-wrap: break-word;
  width: 100%;
  color: rgb(150, 150, 150);
  position: relative;
}

.dNkcIE {
  padding: 0 8px;
}

.MyProfileHome__mar_b_20 {
  margin-bottom: 20px;
}

.esvEre {
  position: relative;
  margin: 3px 0px;
}

.bjdA-Df {
  position: relative;
}

.bCsBCM {
  display: flex;
  height: 100%;
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px 8px;
  background: inherit;
  text-transform: initial;
}

.hxybTK {
  display: flex;
  width: 100%;
  bottom: 0px;
  border-radius: 0px;
  box-shadow: rgba(156, 156, 156, 0.698) 0px 0px 6px;
  height: auto;
  padding: 12px 24px;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: relative;
  z-index: 9;
}

.commonStyles__footer_items_myProfile {
  margin-right: -10px;
}
.commonStyles__footer_items, .commonStyles__footer_items_myProfile {
  width: 100%;
  text-align: right;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-end;
}

.commonStyles__dsply_inln_blk {
  display: inline-block;
}
.commonStyles__mr_rg_20 {
  margin-right: 20px;
}

.ddCixC {
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0px;
  margin: 0px 6px;
  font-size: 14px;
  line-height: 20px;
}

.hxybTK button {
  margin-left: 12px;
}

button[disabled], html input[disabled] {
  cursor: default;
}

.dyXFze {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  margin: 10px;
  border-radius: 22px;
  padding: 10px 28px;
  pointer-events: none;
  cursor: auto;
  background-color: rgb(221, 221, 221);
  box-shadow: none;
  border: none;
}

.fHqNjO {
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 16px;
  color: rgb(117, 117, 117);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fPUhwg {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 14px;
  overflow: hidden scroll;
  height: 100%;
  position: relative;
  padding: 12px;
}

.CreditCard__card_head_txt {
  font-family: Motiva-Light,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  color: #000;
}

.CreditCard__no_card_container {
  font-family: Motiva-Medium,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: #000;
}

.fWpLim {
  font-family: Motiva-Medium, Motiva, Helvetica, Arial, sans-serif;
  display: inline-flex;
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.1s ease-in 0s;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px 0px;
  border-radius: 22px;
  padding: 10px 28px;
  background-color: rgb(204, 0, 0);
  border: none;
}

.jtvEdo {
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 16px;
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.AddressHome__address_header_container {
  margin-bottom: 8px;
}

.MyProfileHome__addr_heading {
  font-family: Motiva-Medium,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin: -12px 0;
}

.editPassword__passRulesWrapper {
  color: #000;
}

.AddressHome__heading_instr {
  margin: 6px 0;
}

